attrs==19.3.0
botocore==1.15.41
brotlipy==0.7.0
certifi==2020.4.5.1
cffi==1.14.0
chalice==1.13.1
chardet==3.0.4
click==7.1.1
cryptography==2.8
docutils==0.15.2
enum-compat==0.0.3
glfw==1.8.7
idna==2.9
jmespath==0.9.5
numpy==1.18.1
pandas==1.0.3
pycparser==2.20
pyOpenSSL==19.1.0
PySocks==1.7.1
python-dateutil==2.8.1
pytz==2019.3
requests==2.23.0
six==1.14.0
triangle==20190115.3
urllib3==1.25.9
